<h1>Bottoms</h1>

<div class= "row">
    <% @bottoms.each do |bottom| %>
        <div class= "column">
            <div class="card">
                <img class= "standard" src="<%= bottom.image_url%>">
                <%= bottom.brand %> <br>
                <%= bottom.style %> <br>
            </div>
        </div>
    <% end %>
</div>