<h1>My Outfits</h1>
<% @outfits.each do |outfit| %>
    Outfit Name: <%= link_to  outfit.name, outfit %><br>
    Top Style: <%= outfit.top.style %><br>
    Bottom Style: <%= outfit.bottom.style %><br>
    Shoe Style: <%= outfit.shoe.style %><br>
<% end %>
