<h1>Tops</h1>

<% @tops.each do |top| %>
    <div class= "borders">
    <b>Brand:</b><%= top.brand %>  <br>
    <b>Style Name:</b> <%= top.style %> <br>
    <img class= "standard" src="<%= top.image_url%>"> 
    </div>
<% end %>
