<h1>Tops</h1>

<div class= "row">
    <% @tops.each do |top| %>
        <div class= "column">
            <div class="card">
                <img class= "standard" src="<%= top.image_url%>">
                <%= top.brand %> <br>
                <%= top.style %> <br>
            </div>
        </div>
    <% end %>
</div>