<h1>Shoes</h1>

<div class= "row">
    <% @shoes.each do |shoe| %>
        <div class= "column">
            <div class="card">
                <img class= "standard" src="<%= shoe.image_url%>">
                <%= shoe.brand %> <br>
                <%= shoe.style %> <br>
            </div>
        </div>
    <% end %>
</div>